<!--The content below is only a placeholder and can be replaced.-->
<!--<app-menu></app-menu>-->

<nav class="navbar navbar-expand-lg navbar" style="background-color: #e3f2fd;" >
        
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <img src="https://cdn1.iconfinder.com/data/icons/weather-429/64/weather_icons_color-14-512.png" width="30" height="30" alt="">   
                            <b>Weather-Map</b>
                            <span class="sr-only">(current)</span>
                        </a>
                      </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">
                    <img src="https://img.icons8.com/ultraviolet/452/latitude.png" width="30" height="30" alt="">
                  <b>Latitude:</b> {{map.lat}}
                  <span class="sr-only">(current)</span></a>
            </li>
             <li class="nav-item active">
              <a class="nav-link" href="#">
                <img src="https://image.flaticon.com/icons/svg/992/992275.svg" width="30" height="30" alt=""> 
                <b>Longitude:</b> {{map.lng}}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"          
              >
              <img src="https://cdn0.iconfinder.com/data/icons/good-view/500/View-08-512.png" width="30" height="30" alt=""> 
              <b>City:</b> {{weather.city}}<span class="sr-only">(current)</span></a>
              
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                <img src="https://cdn3.iconfinder.com/data/icons/weather-1-8/128/Thermometer-Wheather-Forecast-Temp-Temperature-Climate-512.png" width="30" height="30" alt=""> 
                <b>Temperature:</b> {{weather.temp}}&#8451;<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          
        </div>
      </nav>
<app-map #map></app-map>
<app-weather #weather 
[latitude]="map.lat" 
[longitude]="map.lng"
></app-weather>







